body 
{
	width: 900px;
	margin: auto;
	background-color:#242035;
}

#header 
{
	background-color: #242035;
	height: 300px;
}

#logo 
{
	width: 350px;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 0px;
}

#info_box
{
	float: right;
	text-align: right;
	font-family: "Slabo 27px", serif;
	font-size: 16px;
	padding: 26px 20px;
	line-height: 1.4;
	color: #FFFFFF;
}

#nav_bar 
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	width: 900px;
}

li 
{
	float: left;
 	padding: 13px 20px 13px 20px;
	background-color: #4AA594;
 	font-family: "Slabo 27px", serif;
 	letter-spacing: 1px;
 	font-size: 16px;
 	text-decoration: none;
 	color: #F1B697;
}

#left_button
{
	padding-left: 20px;
	border-radius: 3px 0px 0px 3px;
}

#right_filler 
{
	float: right;
	width: 361.5px;
	height: 46px;
	padding: 0px;
	background-color: #4AA594;
    border-radius: 0px 3px 3px 0px;
}

li.current
{
	background-color: #53BE9F;
	text-decoration: none;
 	font-size: 16px;
 	color: #F1B697;
}

li:hover
{
	background-color: #53BE9F;
}

a
{
	text-decoration: none;
	color: #9BD6EA;
}


#hero
{
	Height: 400px;
}

#footer
{
	margin-top: 50px;
	text-align: center;
	font-family: Arial;
	font-size: 14px;
}

a.foot_link
{
	text-decoration: none;
	color: #000000;
}
